<!-- <div>
    <h1>All Services</h1>
    <div *ngFor="let service of services" class="service-card">
      <p><strong>Service Name:</strong> {{ service.serviceName }}</p>
      <p><strong>Description:</strong> {{ service.description }}</p>
      <img *ngIf="service.servicePictureUrl" [src]="service.servicePictureUrl" alt="{{ service.serviceName }}" />
      <div *ngIf="!service.isFlagged">
        <button (click)="flagService(service.serviceId)">Flag</button>
      </div>
      <div *ngIf="service.isFlagged">
        <button (click)="unflagService(service.serviceId)">Unflag</button>
      </div>
    </div>
  </div> -->

  <div class="container mt-4" style="background-color: #f8f9fa; padding: 20px; border-radius: 10px;">
    <h1 class="text-center mb-4" style="font-family: 'Arial', sans-serif; color: #343a40; font-size: 36px; font-weight: bold;">All Services</h1>
    <div class="row">
      <div class="col-md-4 mb-4" *ngFor="let service of services">
        <div class="card h-100" style="border: 1px solid #343a40; background-color: #343a40; color: #fff; width: 18rem; height: 22rem;">
          <img *ngIf="service.servicePictureUrl" [src]="service.servicePictureUrl" alt="{{ service.serviceName }}" class="card-img-top" style="border-radius: 5px 5px 0 0; height: 10rem; object-fit: cover;" />
          <div class="card-body" style="font-family: 'Arial', sans-serif; font-size: 16px;">
            <p class="card-title"><strong>Service Name:</strong> {{ service.serviceName }}</p>
            <p class="card-text"><strong>Description:</strong> {{ service.description }}</p>
            <div *ngIf="!service.isFlagged">
              <button class="btn btn-warning btn-block animated-button" (click)="flagService(service.serviceId)">
                <i class="fas fa-flag"></i> Flag
              </button>
            </div>
            <div *ngIf="service.isFlagged">
              <button class="btn btn-success btn-block animated-button" (click)="unflagService(service.serviceId)">
                <i class="fas fa-check"></i> Unflag
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>