  <div class="container mt-4">
    <h2 class="text-center mb-4" style="font-family: 'Arial', sans-serif; color: #4CAF50; font-size: 36px; font-weight: bold; margin-left: 250px;">Bookings</h2>
    <div class="row" style="margin-left: 240px;">
      <div class="col-md-4 mb-4" *ngFor="let booking of bookings">
        <div class="card h-100 custom-card" style="border: 1px solid #4CAF50;">
          <div class="card-body d-flex flex-column" style="font-family: 'Arial', sans-serif; font-size: 16px;">
            <h5 class="card-title" style="color: #4CAF50; font-size: 24px; font-weight: bold;">Booking Id: {{ booking.bookingId }}</h5>
            <p class="card-title">Customer: {{ booking.customer?.customerName }}</p>
            <p class="card-text">Package: {{ booking.package?.packageName }}</p>
            <p class="card-text">Appointment Date: {{ booking.serviceAppointmentDate | date: 'short' }}</p>
            <p class="card-text">Status: {{ booking.status }}</p>
            <p *ngIf="booking.serviceDoneDate" class="card-text">Service Done Date: {{ booking.serviceDoneDate | date: 'short' }}</p>
            <div class="row">
              <div class="mt-auto">
                <div *ngIf="booking.status === 'Pending'">
                  <button class="btn btn-success btn-block animated-button" (click)="updateBookingStatus(booking.bookingId, 'Accepted')">Accept</button>
                  <button class="btn btn-danger btn-block animated-button" (click)="updateBookingStatus(booking.bookingId, 'Rejected')">Reject</button>
                </div>
                <div *ngIf="booking.status === 'Accepted'">
                  <button class="btn btn-danger btn-block animated-button" (click)="updateBookingStatus(booking.bookingId, 'Rejected')">Reject</button>
                  <button class="btn btn-primary btn-block animated-button" (click)="updateServiceDoneDate(booking.bookingId)">Update Done Date</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>