.table {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
}

.thead-dark th {
    background-color: #343a40;
    color: #fff;
}

.text-success {
    color: #28a745 !important;
}

.text-warning {
    color: #ffc107 !important;
}

.text-danger {
    color: #dc3545 !important;
}