  :host {
    background-color: #0e1217;
    color: #e0ebf7ef;
    font-family: Arial, sans-serif;
    height: 100vh;
  }
  
  .page-container {
    margin: 20px;
  }
  
  .card {
    margin-bottom: 20px;
    animation: fadeIn 0.5s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .card-header {
    background-color: #09284e;
    color: #ffffff;
  }
  
  .card-header.bg-success {
    background-color: #09284e;
  }
  
  .card-header.bg-warning {
    background-color: #0a4082;
  }
  
  .card-header.bg-info {
    background-color: #3371bd;
  }
  
  .profile-details p {
    margin: 0;
  }
  
  .profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #007bff;
    transition: transform 0.3s ease-in-out;
  }
  
  .profile-picture:hover {
    transform: scale(1.1);
  }
  
  .btn {
    margin: 5px;
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  .animated-button:hover {
    background-color: #0056b3;
    box-shadow: 0 0 10px rgba(0, 86, 179, 0.5);
  }
  
  .btn-primary.animated-button:hover {
    background-color: #0056b3;
    box-shadow: 0 0 10px rgba(0, 86, 179, 0.5);
  }
  
  .btn-warning.animated-button:hover {
    background-color: #e0a800;
    box-shadow: 0 0 10px rgba(224, 168, 0, 0.5);
  }
  
  .btn-secondary.animated-button:hover {
    background-color: #6c757d;
    box-shadow: 0 0 10px rgba(108, 117, 125, 0.5);
  }
  
  .btn-success.animated-button:hover {
    background-color: #218838;
    box-shadow: 0 0 10px rgba(33, 136, 56, 0.5);
  }
  
  .form-container {
    margin: 20px auto;
    width: 80%;
    max-width: 500px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-top: 10px;
  }
  
  input, textarea {
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: #ffffff;
    color: #212529;
    transition: border-color 0.3s;
  }
  
  input:focus, textarea:focus {
    border-color: #007bff;
    outline: none;
  }