<div class="about-us-container">
    <div class="about-us-image">
      <img src="../../../assets/AboutUs.jpg" alt="About Us Image">
    </div>
    <div class="about-us-content">
      <h1>About CrewFix</h1>
      <p>
        Welcome to CrewFix, your trusted partner for all home repair and maintenance needs. Our mission is to provide fast, reliable, and high-quality services to ensure your home is always in top shape. With a team of experienced professionals, we handle everything from minor fixes to major renovations with utmost care and precision.
      </p>
      <p>
        At CrewFix, we believe in delivering exceptional customer service and building long-lasting relationships with our clients. Our crew is dedicated to making your life easier by taking care of all your home repair needs, so you can focus on what truly matters.
      </p>
      <p>
        Join the CrewFix family today and experience the difference of having a reliable fixing crew at your service. Your home deserves the best, and we're here to provide it.
      </p>
    </div>
    <div class="about-us-footer">
      <div class="footer-section">
        <h2>Contact Us</h2>
        <p><i class="fas fa-user"></i> Parthibakannan S</p>
        <p><i class="fas fa-phone"></i> Phone: 9123591335</p>
        <p><i class="fas fa-envelope"></i> Email: parthisivaram45&commat;gmail.com</p>
        <p><i class="fas fa-map-marker-alt"></i> Location: Coimbatore</p>
      </div>
      <div class="footer-section">
        <h2>Follow Us</h2>
        <div class="social-media">
          <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i> Facebook</a>
          <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i> Twitter</a>
          <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i> Instagram</a>
          <a href="https://instagram.com" target="_blank"><i class="fab fa-linkedin-in"></i> LinkedIn</a>
        </div>
      </div>
      <div class="footer-section">
        <h2>Additional Info</h2>
        <p>Follow us on social media for the latest updates and offers!</p>
        <p>&copy; 2025 CrewFix. All rights reserved.</p>
      </div>
    </div>
  </div>