<div [ngSwitch]="true">
    <ng-container *ngSwitchCase="isAdminRoute">
      <app-admin-dashboard></app-admin-dashboard>
    </ng-container>
    <ng-container *ngSwitchCase="isCustomerRoute">
      <app-cutomer-dashboard></app-cutomer-dashboard>
      <router-outlet></router-outlet>
    </ng-container>
    <ng-container *ngSwitchCase="isProfessionalRoute">
      <app-professional-dashboard></app-professional-dashboard>
      <router-outlet></router-outlet>
    </ng-container>
    <ng-container *ngSwitchCase="isLoginRoute">
      <router-outlet></router-outlet>
    </ng-container>
    <ng-container *ngSwitchCase="isAbout">
      <app-navbar></app-navbar>
      <router-outlet></router-outlet>
    </ng-container>
    <ng-container *ngSwitchDefault>  
      <app-navbar></app-navbar>
      <app-carousel></app-carousel>
    </ng-container>
</div>
